body {
    background-color: rgba(210, 218, 255, 0.897);
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: plum;
    transition: all 0.25s ease-in-out;
}

.App-footer {
    text-align: center;
    padding-top: 30px;
}

.title {
    text-align: center;
    padding: 60px;
    padding-bottom: 18px;
}