.container {
    padding: 0;
    max-width: 850px;

}

section {
    background-color: #F9F7F7;
    padding: 30px;
}

.Dictionary-section {
    margin-top: 0;
}

.dictionary-word {
    margin-bottom: 14px;
    font-weight: 500;
}

.word-example {
    padding-top: 14px;
}

.Dictionary-section,
.Results-section,
.Meaning-section,
.Synonyms-section {
    margin: 20px;
    border-radius: 10px;
}

input {
    max-width: 100%;
    width: 100%;
    padding: 18px;
    background-color: #F9F7F7;
    border: 2px solid rgba(210, 218, 255, 0.897);
    border-radius: 10px;
    font-size: 1.2rem;
}

.definition {
    font-weight: 700;
    line-height: 2;
}

.example {
    font-size: 0.9rem;
    line-height: 2;
}

.synonyms {
    font-weight: 700;
    line-height: 2.8;
}

.btn-link {
    border-radius: 35px;
    padding: 10px 15px;
    color: plum;
    border: 2px solid rgba(210, 218, 255, 0.897);
    background-color: #F9F7F7;
    cursor: pointer;
    text-decoration: none;
}

.btn-link:hover {
    color: plum;
    background-color: #F9F7F7;
    border-color: rgba(210, 218, 255, 0.897);

}

.phonetic-text {
    padding-top: 17px;
}


.error {
    text-align: center;
    color: #FF5722;
    font-size: 1.2rem;
}